@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  min-height: 700px;
  max-height: 1300px;
  padding: 2vh 5vw;
  color: white; }
  .landing h1, .landing h4 {
    margin: 0; }
  .landing h1 {
    font-weight: 500;
    font-size: 54px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0 0 5px gray; }
  .landing h4 {
    font-size: 22px;
    letter-spacing: 1px;
    align-self: flex-start; }
