@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$orange: #e43c4b;
$darkblue: #1e3656;
$lightsage: #f1faef;
$lightgray: #e0e0e0;
$gray: #d8d8d8;
$darkgray: #7c7c7c;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: {
    image:url(images/banner.png);
    position:center;
    size:cover;
    repeat:no-repeat;
  }

  height: 60vh;
  max-height: 1300px;
  padding: 2vh 5vw;

  color: white;

  h1, h4 {
    margin: 0;
  }
  h1 {
    font-weight: 500;
    font-size: 54px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0 0 5px $darkgray;
  }
  h4 {
    font-size: 22px;
    letter-spacing: 1px;
    align-self: flex-start;
  }
}

.wedo {
  display: flex;
  justify-content: center;
  height: 40vh;

  div {
    display: flex;
    width: 35vw;
    min-width: 300px;
    align-self: center;
  }

  div:first-child {
    justify-content: center;
    text-transform: uppercase;
    color: $orange;
  }
  div:nth-child(2) {
    flex-direction: column;
    justify-content: space-around;
    height: 55%;
    h3 {
      margin-bottom: 5px;
      font-weight: 500;
    }
    p {
      color: $darkblue;
      margin: 10px 0;
    }
  }
}

.greenbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $lightsage;
  min-height: 50vh;
  border-top: 2px solid $lightgray;

  > div {
    display: flex;
    align-items: flex-start;
    width: 40vw;
    height: 50%;
    img {
      min-height: 150px;
      max-height: 20vw;
      box-shadow: 0 0 20px $darkgray;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 40px;

      h1 {
        margin: 0;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 500;
      }

      p {
        color: $darkblue;
      }
    }
  }
}

.locations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 24px;
    margin-bottom: 70px;
    text-transform: capitalize;
  }

  min-height: 50vh;
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        max-width: 50%;
        box-shadow: 0 0 10px $gray;
      }

      h2 {
        font-size: 18px;
        margin: 20px 0 5px 0;
      }

      p {
        font-size: 14px;
        margin: 0;
        color: $darkgray;
      }
    }
  }

}

.subscription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 35vh;
  border-top: 2px solid $lightgray;

  h1 {
    color: $orange;
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    border: 2px solid $lightgray;
    width: 100%;
    min-width: 360px;
    font-size: 18px;
    padding: 26px;
    border-radius: 6px;
    color: $darkblue;
  }

  button {
    border-radius: 60px;
    margin-left: -60px;
    font-size: 18px;
    padding: 28px 48px;
    border: none;
    background-color: $darkblue;
    color: white;
    cursor: pointer;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 15vh;
  background-color: $darkblue;
  color: white;

  p {

  }
}